:host {
  display: block;
  width: 100%;
  min-height: 100vh;
  background-color: #07090e;
}

/* Custom Scrollbar for Chips */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
