<div class="h-full flex flex-col text-white bg-[#0B0F19] font-sans overflow-hidden relative">
  <app-halaltube-topbar></app-halaltube-topbar>
  <div class="flex-1 flex overflow-hidden">
    <app-halaltube-sidebar></app-halaltube-sidebar>
    <main class="flex-1 overflow-y-auto bg-[#18181B] rounded-tl-[2.5rem] relative hide-scrollbar shadow-inner shadow-white/5">
      <router-outlet></router-outlet>
    </main>
  </div>
  
  @if (halaltube.showUploadModal()) {
    <app-upload-modal (close)="halaltube.showUploadModal.set(false)"></app-upload-modal>
  }
</div>
